body {
  background: #89b5c2;
}

h1 {
  font-size: 120px;
  font-weight: bolder;
  text-align: right;
}

a {
  color: #cccccc;
}

.container {
  background: rgba(241, 241, 241, 0.2);
  color: #fff;
  margin: 4rem auto;
}

#weather-description:first-letter {
  text-transform: capitalize;
}

.credits {
  color: #cccccc;
  margin-bottom: 0;
  margin-top: 1rem;
  text-align: center;
}
